*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to left, rgba(0,0,0,0.4),rgba(0,0,0,0.8));
    color: wheat;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding:10px 10%;
}

/* nav{
    display: flex; 
    align-items: center;
    justify-content: space-between;
     flex-wrap: wrap;
} */
nav ul{
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}

nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li a::after{
    content:'';
    width:0;
    height: 3px;
    background:crimson;
    position: absolute;
    left:0;
    bottom:-6px;
    transition: all 0.7s;
}
nav ul li a:hover::after{
    width: 100%;
    background: blue;
}
.header-text{
    margin-top: 30%;
    font-size: 15px;
}
.header-text p{
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.header-text h1{
    font-size: 25px;
    margin-top: 5px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.header-text h1 span{
    font-size: 35px;
    color: crimson;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;
}
#about{
    padding: 80px 0;
    color:#ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis:35%;

}
.about-col-1 img{
    width:100%;
    border-radius:20px;
}
.about-col-2{
    flex-basis:60%;
}
.about-col-2 > p{
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: black;
    font-weight:550;
}

.sub-title{
    margin-bottom: 10px;
    font-size:42px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color:rgb(221, 238, 253);
}
.tab-titles{
    display: flex;
    margin:20px 0 40px;
}
.tab-titles p{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    font-size: 17px;
    color: white;
}
.tab-links{
    margin-right:50px;
    font-size: 18px;
    font-weight: 400;
    cursor:pointer;
    position: relative;

}
.tab-links::after{
    content:'';
    width:0;
    height: 3px;
    background: #095304e8;
    position: absolute;
    left:0;
    bottom:-8px;
    transition:all 0.7s;

}
.tab-links.active-link::after{
    width:60%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0;
    color: wheat;
}
.tab-contents ul li span{
    color:#ffffff;
    font-size: 12px;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* --------SERVICES---------- */

#services{
    padding:30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
    grid-gap:50px;
    margin-top: 40px;
}
.services-list div{
    background: #353535;
    padding: 30px;
    font-size: 13px;
    font-weight: 200;
    border-radius: 16px;
    transition: background 0.6s, transform 0.6s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 11px;
}

.services-list div a{
    text-decoration: none;
    color:rgb(116, 252, 252);
    font-size: 14px;
    margin-top: 15px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff0051ef;
    transform: translateY(-8px);

}

/* ---------PROTFOLIO---------- */
#portfolio{
    margin-top: 137px;
    margin-bottom: 70px;
    padding: 30px 0;

}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 35px;
}
.work{
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    height: 90%;
    width:100%;
    border-radius: 10px;
    display: block;
    object-fit:cover;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.854),#095304e8);
    border-radius: 8px;
    position: absolute;
    left:0;
    top:0%;
    overflow:hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    padding: 0 20px;
    font-size: 12px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}
.layer a{
    margin-top: 18px;
    color:#ff004f;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    background :#fff;
    width:50px;
    height:50px;
    border-radius: 50%;
    text-align: center;
}
.layer p{
    font-size: 15px;
}
.work:hover{
    /* transform: scale(0.9); */
    transition: 0.7s;
}
.work:hover .layer{
    height:90%;
}

.btn{
    display: block;
    margin:50px auto;
    width:fit-content;
    border: none;
    outline: none;
    padding:14px 50px;
    border-radius: 7px;
    text-decoration: none;
    color:#fff;
    transition: background 0.5s;
}
.btn:hover{
    cursor: pointer;
    color: cyan;
}

/* -----------CONTACT---------- */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    margin-right: 15px;
    color:#ff004f;
    font-size: 25px;
}
.social-icons{
    margin-top:30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right:15px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.5s;

}
.social-icons a:hover{
    color:#ff004f;
    transform:translateY(-5px);
}
.btn.btn2{
    background: #ff004f;
    display: inline-block;
}
.contact-right form{
    width:100%;
}
form input,form textarea{
    width:100%;
    border: 0.5px solid wheat;
    outline:none;
    padding: 15px;
    background: #484848;
    margin:15px 0;
    color: #fff;
    font-size:16px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
form .btn2{
    padding: 14px 60px;
    font-size:18px;
    margin-top:20px;
    cursor: pointer;
}
.copyright{
    width:100%;
    text-align: center;
    padding: 15px 0;
    background: #262626;
    font-weight: 100;
    margin-top: 20px;
    font-size: 14px;
}
nav .fa-solid{
    display: none;
}

/* -------- css for small screens---------- */

@media only screen and (max-width:600px){
    #header{
        background-image: url(images/bg.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        font-size: 25px;
        display: block;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width:200px;
        height:100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.4s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav .fa-solid{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 35px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 12px;
    }
    .tab-links{
        font-size: 15px;
        margin-right: 20px;
    }
    .contact-right,.contact-left{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 13px;
    }
}
#msg{
    color:#61b752;
    margin-top: -10px;
    display: block;
}